<main class="mdl-layout__content">

        <div class="mdl-grid mdl-grid--no-spacing">

            <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">

              
                <!-- Weather widget-->
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    <div class="mdl-card mdl-shadow--2dp weather">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Moisture</h2>

                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card__subtitle-text">
                                <i class="material-icons">room</i>
                                KK, Navi Mumbai
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--expand" id="moisture">
                            <p class="weather-temperature">{{latestData.moisture}}<sup>&#37;</sup></p>

                            
                        </div>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    <div class="mdl-card mdl-shadow--2dp weather">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Temperature</h2>

                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card__subtitle-text">
                                <i class="material-icons">room</i>
                                KK, Navi Mumbai
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--expand" id="temperature">
                            <p class="weather-temperature" >{{latestData.temperature}}<sup>&deg;</sup></p>

                            <p class="weather-description">
                                Haze & Cloudy
                            </p>

                        </div>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    <div class="mdl-card mdl-shadow--2dp weather">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Humidity</h2>

                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-card__subtitle-text">
                                <i class="material-icons">room</i>
                                KK, Navi Mumbai
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text mdl-card--expand" id="humidity">
                            <p class="weather-temperature">{{latestData.humidity}}<sup>&#37;</sup></p>

                            <p class="weather-description">
                                Haze & Cloudy 
                            </p>
                            
                        </div>
                    </div>
                </div>
                
                <!-- holy basil card-->
                <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
                    <div class="mdl-card mdl-shadow--2dp cotoneaster">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">Holy Basil</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div>
                                Ocimum tenuiflorum (synonym Ocimum sanctum), commonly known as holy basil, 
                                tulasi (sometimes spelled thulasi) or tulsi, is an aromatic plant in the family 
                                Lamiaceae which is native to the Indian subcontinent and widespread as a 
                                cultivated plant throughout the Southeast Asian tropics.
                            </div>
                            <a href="https://en.wikipedia.org/wiki/Ocimum_tenuiflorum" target="_blank">Wikipedia</a>
                        </div>
                    </div>
                </div>
                <!-- Line chart-->
                <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp line-chart">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Vital Parameters</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="line-chart__container">

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pie chart-->
                <!--<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    <div class="mdl-card mdl-shadow--2dp pie-chart">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Moisture</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="pie-chart__container">

                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- Trending widget-->
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                   
                </div>
               
            </div>

           <div class="mdl-grid mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                <!-- Robot card-->
                <!--<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
                    <div class="mdl-card mdl-shadow--2dp robot">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">BB-8</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div>
                                A skittish but loyal astromech, BB-8 accompanied Poe Dameron on many missions for the
                                Resistance helping keep his X-wing in working order.
                            </div>
                            <a href="http://www.starwars.com/databank/bb-8" target="_blank">Star Wars Databank</a>
                        </div>
                    </div>
                </div>-->
               <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
                   <div class="mdl-card__title">
                       <h2 class="mdl-card__title-text">Subscribers</h2>
                   </div>
                   <div class="mdl-card__supporting-text">
                       <ul class="mdl-list" style=" overflow: auto;max-height:270px;">
                           <li class="mdl-list__item">
                               <span class="mdl-list__item-primary-content list__item-text">Akash</span>
                               
                             
                           </li>
                           <li class="mdl-list__item list__item--border-top">
                               <span class="mdl-list__item-primary-content list__item-text">Prateek</span>
                               
                           </li>
                           <li class="mdl-list__item list__item--border-top">
                               <span class="mdl-list__item-primary-content list__item-text ">Vasudev</span>
                               
                           </li>
                           <li class="mdl-list__item list__item--border-top">
                               <span class="mdl-list__item-primary-content list__item-text">Akshay</span>
                              
                           </li>
                           <li class="mdl-list__item list__item--border-top">
                               <span class="mdl-list__item-primary-content">Sudesh</span>
                              
                           </li>
                       </ul>
                   </div>
               </div>
                <!-- ToDo_widget-->
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
                    <div class="mdl-card mdl-shadow--2dp todo">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">To-do list</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <ul class="mdl-list">

                            </ul>
                        </div>
                        <div class="mdl-card__actions">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">remove selected</button>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-shadow--8dp mdl-button--colored ">
                                <i class="material-icons mdl-js-ripple-effect">add</i>
                            </button>
                        </div>
                    </div>
                </div>

            </div> 
        </div>

    </main>
